.glyphicon {
    top: -117px;
    right: -92px;
  }
.content-file-comment {
    padding: 5px;
    float: left;
    background: #ffffff;
    width: 106px;
    height: 108px;
    box-shadow: 0px 0px 3px #ddd;
    margin: 10px;
    position: relative;
}
.content-file-comment-list{
  padding: 5px;
  float: left;
  background: #ffffff;
  width: 106px;
  height: 108px;
  box-shadow: 0px 0px 3px #ddd;
  margin: 10px;
  position: relative;
}


/* Spinner */

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}